<div class="container">
  <h1>Pipes - Demo </h1>
  <p>Today is: {{today}}</p>
  <p>Date is: {{today | date }}</p>

  <!-- Parameterised Pipe -->
  <p>{{today | date: 'dd-MMMM-yyyy hh:mm:ss a' }}</p>

  <p>{{randomText}}</p>
  <p>{{randomText | lowercase }}</p>
  <p>{{randomText | uppercase }}</p>

  <!-- Chaining Pipes -->
  <p>{{today | date: 'dd-MMMM-yyyy hh:mm:ss a' | lowercase }}</p>

  <!-- Custom Pipe -->
  <h2>Custom Pipe -- ng g p shared/pipes/ellipsis</h2>

  <p>{{randomText}}</p>
  <p>{{randomText | ellipsis }}</p>
  <p>{{randomText | ellipsis: '20' }}</p>
  <p>{{randomText | ellipsis: '40' }}</p>
  <hr>
</div>